* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    5deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(142, 141, 168, 1) 0%,
    rgba(85, 193, 200, 1) 0%,
    rgba(47, 4, 107, 1) 100%,
    rgba(91, 64, 244, 1) 100%
  );
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

h3 {
  color: white;
  font-family: "Freeman", sans-serif;
}

.grupoForm {
  padding: 15px;
  border: none;
  text-align: center;
  align-items: center;
  color: white;
  width: 90%;
  margin: 10px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

.texto {
  color: white;
  text-align: center;
  margin: 30px;
}

.contenedorFoto {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.imagenperfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #b867bf;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#boton :hover {
  background-color: rgb(138, 86, 186);
}

.celda {
  transition: transform 0.3s ease;
}

.celda:hover {
  transform: scale(1.1);
}

footer {
  background-color: #0b0b0b;
  text-align: center;
  height: 20px;
  color: white;
  padding: 30px 0;
}

@media (min-width: 600px) {
  .grupoForm {
    width: 80%;
  }
  .texto {
    font-size: 20px;
  }
  .imagenperfil {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 900px) {
  .grupoForm {
    width: 60%;
  }
  .texto {
    font-size: 25px;
  }
  .imagenperfil {
    width: 200px;
    height: 200px;
  }
}
